@page "/"

<PageTitle>Bio</PageTitle>

<HxCard FooterCssClass="text-muted">
    <HeaderTemplate><div class="fw-bold">Chris Filzen Bio</div></HeaderTemplate>
    <BodyTemplate>
        <HxCardText>
        <p>Personal</p>
        <p>
            I live in Sarasota Florida. I am married with 5 kids and 2 grandkids.
            I also have three dogs (Gracy, Diesel and Luca). I love to fish and hunt. I also ride motorcycles.
            When I am not doing development, you can probably find me on Sarasota Bay fishing the flats or on 
            the golf course chasing golf balls. I enjoy consuming a day by lounging on some of the nicest 
            beaches in the US over a book as well. I also enjoy spending time at the dog parks with my white english lab, Luca.
            And if I have any time left, you may find me playing a console or pc game.
        </p>
        <p>Professional</p>
        <p>
            I have been a software engineer for around 25 years. I specialize in backend services.
            But I have quite a bit of experience with frontend components as well. I have programmed using C# throughout 
            the majority of my career, with the exception of the first 2 or 3 years; only because C# wasn't a thing yet.
            My first project was actually using Java and Java Applets back in the mid-90's. I love a good challenge, which 
            proves to be a daily part of a developer's life. I enjoy working with others. I feel others help me grow as a 
            developer. You never know when you are working with a team member and see there is a better way.
        </p>
        </HxCardText>
    </BodyTemplate>
    <FooterTemplate>Live with intention and thrive for growth</FooterTemplate>
</HxCard>